body {
    background-color: #00ffff;
}

.top-bar {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.nav-list ul{
    opacity: 0;
    z-index: 2000;
    position: absolute;
    top: -30%;
    left: 50%;
}

.active {
    color: brown;
}