body {
    background-color: #3a91c4;
}

body *{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.top-bar {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.nav-list ul{
    opacity: 0;
    position: absolute;
    top: 30%;
    left: 50%;
    z-index: 2000;
}

.nav-list.active ul{
    opacity: 1;
}

.main-content {
    opacity: 0;
}

.main-content.active {
    opacity: 1;
}

